@charset "UTF-8";
		html, body, div, span, applet, object, iframe,h3, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
			font: inherit;
		vertical-align: center;
	}
	*, *:before, *:after {
		-moz-box-sizing: border-box;
	}
	body, input, select, textarea {
		color: #15202B;
		font-family: "calibri", fantasy;
		font-size: 14pt;
		font-weight: 420;
		line-height: 1.50;
	}
	h3 {
		color: #15202B;
		font-size: 1.50em;
	}
	.align-center {
		text-align: center;
	}
	.align-right {
		text-align: right;
	}
	.inner {
		max-width: 75em;
		margin: 0 auto;
	}
	section.wrapper, article.wrapper {
		padding: 30px;
	}
	.flex {
		display: -webkit-flex;
		width: 100%;
	}
		.flex.flex-2 {
		}
			.flex.flex-2 article {
				width: 100%;
			}
		}
		.flex.flex-3 {
		}
			.flex.flex-3 article {
				width: 50%;
			}
		@media screen and (max-width: 480px) {
			.flex.flex-3 br {
			}
		}
	.image.round img {
		border-radius: 100%;
		background-size: cover;
	}
	.image.round1 img {
		padding: 25px;
	}
	.image.round3 img {
		border-radius: 100%;
		background-size: cover;
	}
	.button {
	    cursor:pointer
		background-color: white;
		box-shadow: inset 0 0 0 3px #f1ce4e;
		color: #15202B;
		border-radius: 30px;
		cursor: pointer;
		display: inline-block;
		font-family: Dimbo, sans-serif;
		font-size: .75em;
		font-weight: bold;
		height: 3.75em;
		line-height: 3.85em;
		letter-spacing: 2px;
		padding: 0 4em;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
	}
	#banner {
		padding: unset;
		background-image: url(../../images/banner.jpg);
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		position: relative;
	}
		#banner .inner {
			position: relative;
		}
		#banner h1 {
			line-height: 1cm;
			margin: 0 0 1cm 0;
		}
		#banner h3 {
			font-family: "EmojiOne Color", fantasy;
			font-weight: 220;
			color: #f3d04e;
			font-size: 0.84cm;
		}
		#banner .flex {
			-webkit-justify-content: center;
		}
			#banner .flex div {
				border-right: 5px solid rgb(28, 157, 35);
				padding: 0 2cm;
			}
				#banner .flex div:last-child {
					border: none;
					padding-right: 0;
				}
				#banner .flex div:first-child {
					padding-left: revert;
				}
				#banner .flex div p {
					margin: auto;
				}